
li{
  list-style: none;
  border-bottom: 1px solid black;
  margin: 0px;
  padding: 0;
  background-color: rgba(229, 229, 229, 1);
  color: rgba(121, 121, 121, 1);
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;

}
.outer_container{
  width: 256px;
margin: 0 auto;
  background-color: rgba(70, 67, 68, 1);
}
.my_files_list,
.mail_list,
.cloud_list,
.signout{
  background-color: rgba(100, 102, 107, 1);
  color: white;

  &:hover{
    background-color: rgba(139, 161, 54, 1);
    color: rgba(69, 83, 10, 1);
  }
}
 .list_ul{
   display: none;
 }
